div.navbar{
  overflow: hidden;
  margin-top: -8px;
  margin-right: auto;
  margin-left: auto;
  background-color: lightcyan;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.navbar a{
  text-decoration: none;
}

div.navbar a i{
  float: right;
  padding: 20px;
  font-size: 36px;
  color: black;
}

div.navbar h1{
  float: left;
  padding-left: 10%;
  color: black;
}

#content {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#quote-container{
  margin-top: 20px;
}

img.profile_image{
  width: 15%;
  height: 15%;
  float: right;
  border: 2px solid black;
  border-radius: 15%;
}