.navbar{
  overflow: hidden;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: powderblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar a{
  text-decoration: none;
}

.navbar a i{
  float: right;
  padding: 20px;
  font-size: 36px;
  color: black;
}

.navbar h1{
  float: left;
  padding-left: 10%;
  padding-top: 8px;
  color: black;
}

#welcome_sec {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

#welcome_sec h1{
  padding-top: 8px;
}

#about_me {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about_me_text{
  font-size: 16px;
  padding-right: 23%;
}

.profile_image{
  width: 15%;
  float: right;
  border: 2px solid black;
  border-radius: 15%;
}

#quote-container {
  margin-top: 20px;
}

.work_background{
  background-color: whitesmoke;
}

#work_exp {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.google_logo{
  width: 30%;
  mix-blend-mode: multiply;
}

#work_exp h3{
  font-size: 24px;
}

#edu{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tamu_logo{
  width: 30%;
  mix-blend-mode: multiply;
  float: left;
}

.tamu_title{
  float: left;
  padding-right: 75px
}

.tamu_title_left h3{
  font-size: 24px;
}

.trans_title h2{
  font-size: 20px;
  padding-top: 1.8%;
}

.trans_title i{
  font-size: 60px;
}

.proj_background{
  background-color: whitesmoke;
  padding-top: 10px;
}

#proj {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#proj i{
  font-size: 50px;
  color: rebeccapurple;
  padding-left: 25px
}

#proj h3{
  font-size: 24px;
}

.effect_img{
  width: 40%;
  mix-blend-mode: multiply;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

.effect_text{
  margin-right: auto;
}

.mics_background{
  padding-top: 10px;
}

#misc {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#misc p{
  font-size: 16px;
  text-align: center;
}

.misc_links{
  text-align: center; 
}

.misc_links a{
  text-decoration: none;
}

.misc_links i{
  padding: 50px;
  font-size: 60px;
}

#github_misc{
  color: black
}

#resume_misc{
  color: cornflowerblue
}

#linkedin_misc{
  color: #0e76a8;
}

.comment_background{
  padding-top: 10px;
  background-color: whitesmoke;
}

#comments_sec{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}